* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
  }

body {
    display: grid;
    grid-template-areas: 
        "content image"
    ;
    background: var(--body-bg-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#image {
    grid-area: image;
    width: 50vw;
    height: 100vh;
    padding: 0px !important;
    background: url(assets/read_news.jpg) no-repeat right/cover;
}

#content {
    grid-area: content;
    width: 50vw;
    padding: 50px 0px 50px 30px;
}

header {
    width: 50vw;
}

header img {
    width: 390px;
}

#main-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 92px;
    padding-right: 35px;
    width: 50%;
    overflow-wrap: break-word;
}

#main-text h2 {
    font-family: 'Work Sans', sans-serif;
    color: var(--title-color);
    font-weight: 700;
    font-size: 24px;
}

#main-text span {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--text-color);
}

#main-text p {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
    line-height: 20px;
}

#email-form {
    margin-top: 50px;
}

#email-form form {
    display: flex;
    flex-direction: column;
}

#email-form form label {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--form-color);
    margin-bottom: 20px;
}

#text-box {
    display: flex;
    width: 100vw;
    filter: drop-shadow(4px 4px 4px black);
}

#user-email {
    max-width: 798px;
    width: 100vw;
    height: 48px;
    border: none;
    border-left: 5px solid var(--title-color);
    padding: 10px;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

#user-email:focus {
    outline: none;
}

#email-form button {
    width: 48px;
    height: 48px;
    background: var(--bg-button-color) url(assets/send.svg) center no-repeat;
    border: none;
}

#email-form a {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-top: 55px;
    gap: 10px;
    color: var(--bg-button-color);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

#email-form a:hover {
    color: var(--title-color);
}

@media screen and (max-width: 1551px) {
    body {
        grid-template-areas: 
            "image image"
            "content content";
        background: var(--body-bg-color);
        width: 100%;
        height: 100%;
    }

    #image {
        height: 30vh;
        width: 100vw;
        position: sticky;
    }

    #content {
        height: 70vh;
        width: 100vw;
        position: static;
    }

    #main-text {
        width: 100%;
    }

}